@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: space-font;
  src: url(./Space-Game-Font.otf);
}
@font-face {
  font-family: robot-font;
  src: url(./Classic-Robot-Font.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background: radial-gradient(circle at center, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}

.add-ship-container {
  flex: 1;
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 16px;
  width: clamp(100px, 45%, 700px);
  color: #d9f99d;
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  justify-content: center;
}

.computer-section:has(.add-ship-container) {
  height: 100%;
}

.add-ship-prompt {
  font-size: 1.3rem;
}

#new_direction_form {
  display: grid;
  grid-template-rows: min-content, 1fr;
}

#direction {
  color: #bef264;
  text-align: center;
  text-shadow: 0 0 7px #a3e635;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

#direction option {
  background-color: black;
  border: none;
}

.add-ship-container button {
  color: #bef264;
  box-shadow: 0 0 7px #a3e635, 0 0 15px #a3e635;
  background: transparent;
  border: 1px solid #a3e635;
  border-radius: 16px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 4px 8px;
}

.add-ship-container label {
  font-size: 1.3rem;
}

.btns-container {
  display: flex;
  padding-top: 18px;
  justify-content: space-evenly;
  height: min-content;
  gap: 16px;
}

.game-header {
  font-family: space-font, "Roboto", sans-serif;
  text-align: center;
  color: #a3e635;
  text-shadow: 0 0 7px #a3e635, 0 0 15px #a3e635, 0 0 21px #a3e635,
    0 0 42px #84cc16, 0 0 84px #84cc16, 0 0 102px #84cc16;
  font-size: 4rem;
  font-weight: 500;
}

.gameboard-section {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-bottom: 24px;
}

.computer-section,
.player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.gameboard-header {
  font-size: 1.8rem;
  font-weight: 400;
  color: #a3e635;
  font-family: robot-font, "Roboto", sans-serif;
}

.gameboard {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 4px;
  margin-top: 10px;
  width: clamp(100px, 45%, 700px);
  box-shadow: 0 0 5px #a3e635, 0 0 7px #a3e635, 0 0 10px #ecfccb,
    0 0 15px #ecfccb;
}

.row {
  display: flex;
}

.grid {
  flex-grow: 0;
  border: 1px solid #84cc16;
  width: 100%;
  height: 0;
  padding-top: 10%;
  background-color: transparent;
  box-sizing: border-box;
}

.add-ship-prompt,
label {
  color: #fff;
  text-shadow: 0 0 10px #84cc16, 0 0 15px #84cc16, 0 0 20px #84cc16;
  text-align: center;
  -webkit-animation: glow 0.5s ease-in-out 4 alternate;
  -moz-animation: glow 0.5s ease-in-out 4 alternate;
  animation: glow 0.5s ease-in-out 4 alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #84cc16, 0 0 15px #84cc16, 0 0 20px #84cc16;
  }
  to {
    text-shadow: 0 0 2px #bef264, 0 0 4px #a3e635, 0 0 8px #a3e635,
      0 0 10px #a3e635, 0 0 20px #a3e635, 0 0 40px #a3e635, 0 0 60px #a3e635;
  }
}

.ship:not(.computer),
.hit,
.missed,
.placement-location {
  box-shadow: none;
}

.grid {
  background-color: rgb(163, 230, 53, 0.5);
}
.ship:not(.computer) {
  background-color: #7c3aed;
}

.ship.hit {
  background-color: #ef4444;
}

.missed {
  background-color: transparent;
}

.placement-location {
  background-color: #7c3aed;
  box-shadow: inset 0 0 10px #fff;
}

.space {
  background: transparent center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
}

@keyframes space {
  40% {
    opacity: 0.75;
    overflow: hidden;
  }
  50% {
    opacity: 0.25;
    overflow: hidden;
  }
  60% {
    opacity: 0.75;
    overflow: hidden;
  }
  100% {
    transform: rotate(360deg);
    overflow: hidden;
  }
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
  overflow: hidden;
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
  overflow: hidden;
}
.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
  overflow: hidden;
}

@media (min-width: 600px) {
  .gameboard-section {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }

  .computer-section:has(.add-ship-container) {
    height: auto;
  }
  .game-header {
    text-shadow: 0 0 21px #a3e635, 0 0 42px #84cc16, 0 0 84px #fff;
    font-size: 6rem;
  }
  .gameboard-header {
    font-size: 2rem;
  }

  .add-ship-container label,
  .add-ship-prompt {
    font-size: 1.5rem;
  }
  .btns-container {
    padding-top: 64px;
  }

  .add-ship-container,
  .gameboard {
    width: clamp(100px, 60%, 700px);
  }
}
