@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: space-font;
  src: url(./Space-Game-Font.otf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

#content {
  background: radial-gradient(circle at center, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.add-ship-container {
  color: #bef264;
  text-align: center;
  border: 2px solid #c4b5fd;
  border-radius: 16px;
  padding: 24px;
  width: clamp(100px, 50%, 700px);
}

.add-ship-prompt {
  font-size: 1.3rem;
}

.game-header {
  font-family: space-font, "Roboto", sans-serif;
  text-align: center;
  color: #84cc16;
  font-size: 4rem;
  font-weight: 500;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #dff7da, 0 0 20px #dff7da, 0 0 30px #a3e635,
      0 0 40px #a3e635, 0 0 50px #a3e635, 0 0 60px #a3e635, 0 0 70px #a3e635;
  }
  to {
    text-shadow: 0 0 20px #dff7da, 0 0 30px #bef264, 0 0 40px #bef264,
      0 0 50px #bef264, 0 0 60px #bef264, 0 0 70px #bef264, 0 0 80px #bef264;
  }
}

.gameboard-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.computer-section,
.player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard-header {
  font-size: 1.5rem;
  font-weight: 400;
  color: #bef264;
}

.gameboard {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 24px;
  background-color: #c4b5fd;
  width: clamp(100px, 50%, 700px);
}
.row {
  display: flex;
}

.grid {
  flex-grow: 0;
  border: 1px solid black;
  width: 100%;
  height: 0;
  padding-top: 10%;
  background-color: white;
  box-sizing: border-box;
}

.ship {
  background-color: #7c3aed;
}

.computer {
  background-color: white;
}

.hit {
  background-color: #ef4444;
}

.missed {
  background-color: #3b82f6;
}

.placement-location {
  background-color: limegreen;
}

.space {
  background: transparent center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 25px 5px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 75px 125px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
}
.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image: radial-gradient(
      1px 1px at 10px 10px,
      white,
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)),
    radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)),
    radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
}

/* 
Steps to make responsive:
  Mobile: 
    1. make both boards visible with no scrolling
    2. 

*/

/* stuff for media quieries: 
player section: 
  padding: 64px;
  
  
  
  
  */
