@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lavender;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

#content {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.game-header {
  display: flex;
  justify-content: center;
  color: #7c3aed;
  font-size: 4rem;
  font-weight: 500;
}

.gameboard-section {
  display: flex;
}

.computer-section,
.player-section {
  flex: 1;
  display: flex;
  height: 100%;
  padding: 64px;
}

.gameboard {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 64px;
  background-color: #c4b5fd;
}
.row {
  display: flex;
}

.grid {
  flex-grow: 0;
  border: 1px solid black;
  width: 100%;
  height: 0;
  padding-top: 10%;
  background-color: white;
  box-sizing: border-box;
}

.ship {
  background-color: #3b82f6;
}

.hit {
  background-color: #ef4444;
}
